/* Styling for a single exercise card */
.exerciseCard {
    background: #FFE4E1;
    padding: 1em;
    border-radius: 10px;
}

.exerciseCard h2 {
    text-align: center;
}

.bold {
    font-weight: bold;
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
    .exerciseCard {
        text-align: center;
    }
}