main {
    font-family: Tahoma, Verdana, Segoe UI, Arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5em;
    margin: 2em;
    justify-content: center;
}
